input {
    font-size: 16px; 
    width: 100%; 
    padding: 15px;
    background-color: #d7e8e8; 
  }
  
  body{
    padding: 10px;
  }
  
  .left-block{
    margin: 10px 0;
    display: block;
    font-weight: bold;
  }
  
  .input-container{
      margin: 10px 0;
      display: flex;
  }

  #btnParseUrl{ 
      margin-bottom: 5px;
  }

  #btnParseUrl, 
  #btnPasteClipboard{
      height: 24px;
      margin-right: 10px;
      /* align-self: flex-end; */
      display: block;
      width: 128px;
      text-align: center;
  }